{% extends "index.html" %}

{% block title %}
Todos {%call super()%}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/todo.css">
{% endblock %}

{% block meta %}
<meta name="description" content="This is todos page">
{% endblock %}

{% block main %}

{% include "partials/flash.html" %}

{% if todos.is_empty() %}
<h1>Empty Todos</h1>
{% else %}

{% for todo in todos %}

<div class="card">
    <div>
        <div>
            <p class="todo-task">{{todo.task}}</p>
        </div>
    </div>
</div>
    
{% endfor %}

{% endif %}

{% endblock %}